<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alipay.ticketbacked.common.dal.mapper.HallMapper">

    <select id="findByIds" resultType="com.alipay.ticketbacked.core.model.Hall">
        SELECT * FROM hx_halls WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insert" parameterType="com.alipay.ticketbacked.core.model.Hall" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hx_halls (cinema_id, name, hall_type, total_rows, total_cols, gmt_create)
        VALUES (#{cinemaId}, #{name}, #{hallType}, #{totalRows}, #{totalCols}, NOW())
    </insert>

    <update id="update" parameterType="com.alipay.ticketbacked.core.model.Hall">
        UPDATE hx_halls
        SET cinema_id=#{cinemaId}, name=#{name}, hall_type=#{hallType},
            total_rows=#{totalRows}, total_cols=#{totalCols}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM hx_halls WHERE id = #{id}
    </delete>

</mapper>